/* Reset default margin and padding */
body, h1, h2, h3, p, ul, ol {
  margin: 0;
  padding: 0;
  background-color: #F6E3CB;
}
body {
    height: 100vh;
}

/* Style header */
header {
  background-color: #f;
  padding: 20px;
  text-align: center;
}

header img {
  height: 10vh;
}

/* Style main sections */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-section {
  margin-top: 20px;
}

/* Style image */
.image-section img {
  width: 30vw; /* Adjust image size */
  height: auto;
}

/* Style text section */
.text-section {
  margin-top: 20px;
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
}

.text-section p {
  font-size: 18px;
  color: #333;
}
